/* style.css */

a:link { text-decoration:none; color:#333333;}
a:hover { text-decoration:none; color:#0000ff;}
a:visited { text-decoration:none; color:#333333;}

.ellipsis {
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.row {
    line-height:200%;
    padding-top:4px;
    padding-bottom:4px;

    border-top: 0px dotted #BBBBBB;
    border-bottom: 1px dotted #BBBBBB;
    border-left: 0px dotted #BBBBBB;
    border-right: 0px dotted #BBBBBB;

}